<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="SIMPLE" />
	</settings>
	
	<mappers>
  	    <mapper resource="config/mapper/sql-monitor_apply.xml" />
  	    <mapper resource="config/mapper/sql-monitors.xml" />
	    <mapper resource="config/mapper/sql-answers.xml" />
	    <mapper resource="config/mapper/sql-file.xml" />
	    <mapper resource="config/mapper/sql-notice.xml" />
	    <mapper resource="config/mapper/sql-subject.xml" />
	    <mapper resource="config/mapper/sql-subjectinfo.xml" />
	    <mapper resource="config/mapper/sql-question.xml" />
	    <mapper resource="config/mapper/sql-option.xml" />  
	    <mapper resource="config/mapper/sql-questionsettings.xml" />
	    <mapper resource="config/mapper/sql-member.xml" />
	    <mapper resource="config/mapper/sql-admin_setting.xml" />	     
   	    <mapper resource="config/mapper/sql-bbs.xml" />	     
   	    <mapper resource="config/mapper/sql-comment.xml" />	     
   	    		
	</mappers>
</configuration>
