
.r_question{
	background: lightblue;
    border-radius: 6px 6px 0 0;
    padding:15px;
}

.r_form{
	padding-top: 10px; 
	padding-bottom: 10px;
	display: table;
	width: 100%
}

.r_first {
	font-size: 11pt;
	padding-left: 10px;
}

.r_questNo{
	
}

.r_subQuestTitle{
	font-size:11pt;
	padding-left: 10px;
}

.five_text {
	width: 100%;
	font-size:10pt;
}

